<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1>Hereditas</h1>

            {#each routes as r}
                {#if r.exact}
                    <Route exact path="{r.path}" component={r.component} />
                {:else}
                    <Route path="{r.path}" component={r.component} />
                {/if}
            {/each}
        </div>
    </div>
</div>

<script type="text/javascript">
import Route from '../../vendor/svelte-routing/Route.html'

export default {
    components: {
        Route
    }
}
</script>

