<h1>Authentication error</h1>
{#if error}
    <p><b>Error description:</b> {error}</p>
{:else}
    <p>Your session has expired, or you've run into an unspecified authentication error.</p>
{/if}
<a href={authUrl} class="btn btn-primary">Try authenticating again</a>

<script type="text/javascript">
import credentials from '../lib/Credentials'

export default {
    computed: {
        authUrl: ({$profile}) => {
            // If we're not authenticated, request a URL
            return $profile ? undefined : credentials.authorizationUrl()
        }
    },

    data() {
        return {
            error: null
        }
    }
}
</script>
