<!DOCTYPE html>
{{- partial "docs/shared" -}}
<html>

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <main class="container flex">
    <aside class="fixed book-menu">
      {{ partial "docs/menu" . }}
    </aside>

    <div class="mr-auto book-posts">
      {{ partial "docs/mobile-header" . }}
      {{ template "main" . }}
    </div>
  </main>


  {{ partial "docs/inject/body" . }}
</body>

</html>
