body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

nav.navbar {
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}
