{#await contentPromise}
    Loading...
{:then content}
    {#if content.display == 'text'}
        <pre>{content.text}</pre>
    {:elseif content.display == 'html'}
        {@html content.text}
    {:else}
        Download: <a href="{content.attachUrl}" download="{content.name}">{content.name}</a>
    {/if}
{:catch error}
    Error: {error}
{/await}


<script type="text/javascript">
import {getHistory} from '../../vendor/svelte-routing'

export default {
    computed: {
        contentPromise: ({match, $box}) => {
            // Get the name of the element
            // The element variable should be an id, a hex string of 24 chars
            const elementId = (match && match.params && match.params.element) || ''
            if (!elementId || !elementId.match(/^[0-9a-f]{24}$/)) {
                return Promise.reject('Invalid content')
            }

            // Get info on the content
            const contents = $box.getContents()

            // Get the tag from the index
            let element
            for (const i in contents) {
                if (contents[i].dist == elementId) {
                    element = contents[i]
                    break
                }
            }
            if (!element) {
                return Promise.reject('Content not found')
            }

            // Fetch the data
            return $box.fetchContent(element)
                .then((element) => {
                    // Build the URL for attachments, and get the file name
                    if (element.display == 'attach') {
                        // Convert data to a Blob
                        element.attachUrl = URL.createObjectURL(new Blob([element.data], {type: "octet/stream"}))
                        delete element.data

                        // Get file name
                        const parts = element.path.split('/')
                        element.name = parts[parts.length - 1]
                    }

                    return element
                })
                .catch((error) => {
                    // Log the error
                    console.error(error)

                    return error
                })
        }
    },

    oncreate() {
        // Ensure that we have unlocked the box
        const {box} = this.store.get()
        if (!box.isUnlocked()) {
            // Do this in the next tick
            setTimeout(() => {
                getHistory().replace('/')
            }, 0)
        }
	}
}
</script>
